**Day 11 Assignment: to check the correlation between Attrition and other variables**

In [32]:
import pandas as pd
dataset = pd.read_csv("general_data.csv")
dataset.columns
dataset.head(10)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
7,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
8,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
9,25,No,Non-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5

In [33]:
from sklearn import preprocessing
from scipy.stats import pearsonr
dataset["Attrition"].replace(to_replace=("No","Yes"),value=(0,1),inplace=True)

In [34]:
dataset.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

**Correlation between Attrition and Distance from home**
H0 = There is no significant correlation between Attrition and DistanceFromHome
Ha = There is significant correlation between Attrition and DistanceFromHome

In [35]:
stats,p = pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stats,p)

-0.00973014101017969 0.5182860428050771

As the p-value is greater than 0.05, we'll accept the null hypothesis.
Also from the value of r, there seems weak negative correlation between Attrition and DitanceFromHome.

**Correlation between Attrition and Gender of employees**
H0 = There is no significant correlation between Attrition and Gender
Ha = There is significant correlation between Attrition and Gender

In [36]:
dataset["Gender"].replace(to_replace=("Female","Male"),value=(0,1),inplace=True)
dataset.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [37]:
stats,p = pearsonr(dataset.Attrition,dataset.Gender)
print(stats,p)

0.018125078877010273 0.22881970951790567

As the p-value is greater than 0.05, we'll accept the null hypothesis.
Also from the value of r, there seems weak positive correlation between Attrition and Gender.

**Correlation between Attrition and MonthlyIncome of employees**
H0 = There is no significant correlation between Attrition and MonthlyIncome
Ha = There is significant correlation between Attrition and MonthlyIncome

In [38]:
stats,p = pearsonr(dataset.Attrition,dataset.MonthlyIncome)
print(stats,p)

-0.031176281698115017 0.03842748490600132

As the p-value is less than 0.05, we'll reject the null hypothesis.
Also from the value of r, there seems weak negative correlation between Attrition and MonthlyIncome.

**Correlation between Attrition and PercentSalaryHike**
H0 = There is no significant correlation between Attrition and PercentSalaryHike
Ha = There is significant correlation between Attrition and PercentSalaryHike

In [39]:
stats,p = pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print(stats,p)

0.032532594891053514 0.030743386433355353

As the p-value is less than 0.05, we'll reject the null hypothesis.
Also from the value of r, there seems weak positive correlation between Attrition and PercentSalaryHike.

**Correlation between Attrition and YearsAtCompany**
H0 = There is no significant correlation between Attrition and YearsAtCompany
Ha = There is significant correlation between Attrition and YearsAtCompany

In [50]:
stats,p = pearsonr(dataset.Attrition,dataset.YearsAtCompany)
print(stats,p)

-0.13439221398997714 3.1638831224877484e-19

As the p-value is less than 0.05, we'll reject the null hypothesis.
Also from the value of r, there seems weak negative correlation between Attrition and YearsAtCompany.

**Correlation between Attrition and Age**
H0 = There is no significant correlation between Attrition and Age
Ha = There is significant correlation between Attrition and Age

In [44]:
stats,p = pearsonr(dataset.Attrition,dataset.Age)
print(stats,p)

-0.15920500686577943 1.996801615887666e-26

As the p-value is less than 0.05, we'll reject the null hypothesis. 
Also from the value of r, there seems weak negative correlation between Attrition and YearsAtCompany.